* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


#heading {
    color: blueviolet;
}

.example {
    color: navy;
}

ul li {
    color: red;
}
h2 {
    background-color: aqua;
    font-size: x-large;
}
main {
    margin: 20px 30%;
    border: solid 5px lightgrey;
    padding: 15px;
}

p {
    background-color:whitesmoke;
    font-size: x-large;
}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
aside  {
    margin: 20px 30%;
    border: solid 5px lightgrey;
    padding: 15px;
}